<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Quản lý template bài viết</h1>
    </div>
  </div>
  <div class="row" id="template-page">
    <div class="col-lg-12">
      <div class="create-div panel-body">
        <%= link_to "Tạo mới", "javascript:void(0)", class: "btn btn-success", id: "create-template-btn" %>
      </div>
      <%= render "shared/flash" %>
      <div class="panel-body">
        <% @templates.each do |template| %>
          <div class="row template">
            <h3><%= template.name %></h3>
            <div class="content"><%= template.content.html_safe %></div>
            <span class="edit-btn btn btn-success" data-id="<%= template.id %>">Sửa</span>
            <span class="delete-btn btn btn-danger" data-id="<%= template.id %>">Xóa</span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" 
  aria-labelledby="message" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div id="message-content"></div>
          <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        </div>
        <div class="modal-body">
        </div>
      <!-- /.modal-content -->
    </div>
  </div>
</div>

<div class="modal fade" id="template-modal" tabindex="-1" role="dialog" 
  aria-labelledby="template" aria-hidden="true" data-id="">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputFile">Tên template</label>
          <%= text_field_tag :name_template, nil, class: "form-control" %>
        </div>

        <div class="form-group">
          <label for="exampleInputFile">Nội dung template</label>
          <%= cktext_area :template, :content, value: "[blog_content]", cols: 40 %>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" id="save-template-btn" >Lưu</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>

<div class="modal fade" id="delete-template" tabindex="-1" role="dialog" 
  aria-labelledby="delete" aria-hidden="true" data-id="">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title custom_align" id="Heading">Xóa template</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger">
            Bạn có chắc chắn xóa template
            <strong class="delete-brand-name"></strong> không?</div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success" id="button-delete-template" >Có</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
