<table class="table table-bordered">
  <tbody>
    <% @medias.each_slice(3).to_a.each do |block| %>
      <tr>
        <% block.each do |doc| %>
          <td>
            <strong><%= doc.title %></strong><br/>
            <%= doc.description %><br/>
            <a href="<%= doc.url %>">
              <% if doc.url.split(//).last(3).join("") == "pdf" %>
                <%= image_tag "/small-pdf.png", title: "pdf" %>
              <% elsif doc.url.split(//).last(3).join("") == "doc" || doc.url.split(//).last(3).join("") == "ocx" %>
                <%= image_tag "/small-word.png", title: "doc" %>
              <% elsif doc.url.split(//).last(3).join("") == "xls" || doc.url.split(//).last(3).join("") == "lsx" %>
                <%= image_tag "/small-excell.png", title: "excel" %>
              <% end %>
              <%= doc.title %>
            </a><br/>
            <p>Ngày tạo : <%=doc.created_at %></p>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="paginate-medias">
  <%= paginate @medias %>
  <%= page_entries_info @medias, entry_name: "document" %>
</div>
