<div id="sidebar" class="col-xs-12 col-lg-2 col-lg-pull-10 sidebar widget-area sidebar categories-blog" role="complementary">
  <aside id="categories-5" class="widget widget_categories">
    <h5 class="widget-title">Danh mục</h5>
    <ul>
      <% @blog_categories.each do |category| %>
        <li class="cat-item <%= 'current-cat' if category.id == params[:blog_category_id].to_i %>">
          <%= link_to category.name, blogs_path(blog_category_id: category.id) %>
        </li>
      <% end %>
    </ul>
  </aside>
  <aside id="archives-4" class="widget widget_archive">
    <h5 class="widget-title">Tháng</h5>
    <label class="screen-reader-text" for="archives-dropdown-4">Archives</label>
    <select id="archives-dropdown-4">
      <option value="<%= blogs_path() %>">Chọn tháng</option>
      <% @times.each do |time| %>
        <option value="<%= blogs_path(time: time[:value]) %>" <%= 'selected' if params[:time] == time[:value] %>><%= time[:title] %></option>
      <% end %>
    </select>
  </aside>

  <aside id="tag_cloud-5" class="widget widget_tag_cloud">
    <h5 class="widget-title">Tags</h5>
    <div class="tagcloud">
      <% @tags.each do |tag| %>
        <%= link_to tag.name, blogs_path(tag_id: tag.id), class: "tag-link-99 tag-link-position-1 #{'tag-active' if tag.id == params[:tag_id].to_i}"%>
      <% end %>
    </div>
  </aside>

  <aside id="calendar-4" class="widget widget_calendar">
    <div id="calendar_wrap" class="calendar_wrap">
      <%= month_calendar do |date| %>
        <%= date.day %>
      <% end %>
    </div>
  </aside>

  <aside id="tm_willard_widget_subscribe_follow-1" class="widget widget-subscribe">
    <div class="subscribe-follow__wrap">
      <div class="follow-block">
        <div class="follow-block-content">
          <h5 class="widget-title">Đăng ký nhận tin</h5>
        </div>
      </div>
      <div class="subscribe-block">
        <div class="subscribe-block__message">Mời nhập e-mail!</div>
        <%= form_for(@subcriber, html: {class: "subscribe-block__form"}) do |f| %>
          <input type="hidden" name="nonce" value="e7bf373fbc">
          <div class="subscribe-block__input-group">
            <div class="subscribe-block__input-wrap">
              <i class="linearicon linearicon-envelope-open"></i>
              <%= f.text_field :email, class: "subscribe-block__input", placeholder: "Email của bạn", type: "email" %>
            </div>
            <%= f.submit "Đăng ký", class: "subscribe-block__submit btn btn-primary" %>
          </div>
          <div class="subscribe-block__messages">
            <div class="subscribe-block__success hidden">You successfully subscribed</div>
            <div class="subscribe-block__error hidden"></div>
          </div>
        <% end %>
      </div>
    </div>
  </aside>
</div>
