<!DOCTYPE html>
<html lang="en-US">

<head>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Admin</title>
</head>

<body>
  <div id="wrapper">
    <% if admin_admin_signed_in? %>
      <%= render "layouts/admin/top_left_layout" %>
    <% end %>
    <%= yield %>
  </div>
</body>

</html>
