<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Tag</h1>
    </div>
  </div>
  <div class="row" id="tag-table">
    <div class="col-lg-12">
      <div class="create-div">
        <button class="btn btn-success" data-title="Tạo mới" data-toggle="modal" data-target="#create-tag" >
          Tạo mới
        </button>
      </div>
      <div class="alert alert-success alert-success-update hidden">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Thành công!</strong> Sửa thành công.
      </div>
      <div class="alert alert-danger alert-danger-update hidden">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Lỗi!</strong> Sửa không thành công.
      </div>
      <%= render "shared/flash" %>
      <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-tag">
          <thead>
            <tr>
              <th>Tên</th>
              <th>Url</th>
              <th class="center"></th>
              <th class="center"></th>
            </tr>
          </thead>
          <tbody>
            <% @tags.each do |tag| %>
              <tr class="odd gradeX" id="tag<%= tag.id %>">
                <td class="td-tag-name">
                  <p class="p-tag-name" id="p-tag-name<%= tag.id %>"><%= tag.name %></p>
                  <input type='text' id="tag-name<%= tag.id %>" class="form-control tag-name hidden" value='<%= tag.name %>'/>
                </td>
                <td class="td-tag-url">
                  <p class="p-tag-url" id="p-tag-url<%= tag.id %>"><%= tag.tag_url %></p>
                  <textarea rows="2" id="tag-url<%= tag.id %>" class="form-control tag-url hidden"><%= tag.tag_url %></textarea>
                </td>
                <td class="center">
                  <button type="button" name="update-tag<%= tag.id %>" class="btn btn-primary confirm-tag-save">Lưu</button>
                </td>
                <td class="center">
                  <p data-placement="top" data-toggle="tooltip" title="Xóa">
                    <button class="btn btn-danger button-delete-tag" data-title="Xóa" data-toggle="modal" data-target="#delete-tag" id="delete-tag<%= tag.id %>" >
                      Xóa
                    </button>
                  </p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade" id="delete-tag" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
    <input type="hidden" class="delete-tag-id" value="Norway">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title custom_align" id="Heading">Xóa tag</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger">Bạn có chắc chắn xóa tag <strong class="delete-tag-name"></strong> không?</div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success" id="button-delete-tag-confirm" >Có</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="create-tag" tabindex="-1" role="dialog" aria-labelledby="create" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title custom_align" id="Heading">Tạo tag mới</h4>
        </div>
        <%= form_for([:admin, @tag], html: {multipart: true}) do |f| %>
          <div class="modal-body">
            <div class="form-group">
              <%= f.text_field :name, class: "form-control tag-name-create", placeholder: "Tên"%>
            </div>
            <div class="form-group">
              <%= f.text_field :tag_url, class: "form-control tag-url-create", placeholder: "Url"%>
            </div>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Bỏ qua</button>
            <%= f.submit "Tạo", class: "btn btn-success btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
