<div class="container">
  <ul class="nav nav-tabs mema-tabs home-nav" role="tablist">
    <% block.each_with_index do |category, index| %>
      <li role="presentation" class="<%= 'active' if index == 0 %>">
        <%= link_to category[:title], "#home-#{category[:id]}",
          "aria-controls": "home-#{category[:id]}", role: "tab",
          "data-toggle": "tab" %>
      </li>
    <% end %>
  </ul>
  <div class="clearfix"></div>

  <div class="tab-content">
    <% block.each_with_index do |category_block, index| %>
      <div role="tabpanel" class=" tab-pane <%= 'active' if index == 0 %>"
        id="home-<%= category_block[:id] %>">
        <div class="tm-wc-ajax-products-wrapper">
          <div class="products row product-row-block">
            <% category_block[:products].each do |product|%>
              <%= render "product_field", product: product%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
