<div class="post-215 type-product status-publish has-post-thumbnail hentry product_shipping_class-class-2 has-thumb col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-2 col-xxl-2 product">
  <div class="block_product_inner">
    <div class="block_product_thumbnail">
      <a href="">
        <div class="tm-thumbs-wrap effect-fade">
          <div class="tm-thumbs-wrap__inner">
            <% first = product.product_images.first %>
            <% second = product.product_images.second %>
            <%= link_to product_path(product), title: product.name do %>
              <%= image_tag first.url, size: '340', title: first.title, alt: first.alt if first && first.url %>
              <%= image_tag second.url, size: '340', title: second.title, alt: second.alt if second && second.url%>
            <% end %>
          </div>
        </div>
      </a>
    </div>
    <div class="block_product_content">
      <span>
        <%= link_to product.name, product_path(product), class: "woocommerce-LoopProduct-link", title: product.name %>
      </span>
      <span class="price">
        <span class="woocs_price_code" data-product-id="215">
          <span class="woocommerce-Price-amount amount"><%= product.price_currency %>
            <span class="woocommerce-Price-currencySymbol">₫</span>
          </span>
        </span>
      </span>

      <div class="price-add-to-cart-wrap">
        <%= link_to "MUA", order_product_path(product), remote: true, rel: "nofollow",
          "data-product-id": product.id, class: "button product_type_variable add_to_cart_button" %>
      </div>
    </div>
  </div>
</div>
