<div class="container">
  <ul class="nav nav-tabs mema-tabs" role="tablist">
    <% @product_labels.each_with_index do |label, index| %>
      <li role="presentation" class="<%= 'active' if index == 0 %>">
        <%= link_to label.title, "##{label.short_title.downcase}",
          "aria-controls": "#{label.short_title.downcase}", role: "tab", 
          "data-toggle": "tab" %>
      </li>
    <% end %>
  </ul>
  <div class="clearfix"></div>

  <div class="tab-content">
    <% @product_labels.each_with_index do |label, index| %>
      <div role="tabpanel" class="tm_pb_row tm_pb_row_2 tab-pane <%= 'active' if index == 0 %>" 
        id="<%= label.short_title.downcase %>">
        <div class="tm_pb_column tm_pb_column_1_3 tm_pb_column_2 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm_pb_vertical_alligment_start product-tab-column">
          <div class="tm_pb_widget_area cherry-sidebars-0 tm_pb_widget_area_left clearfix tm_pb_module tm_pb_bg_layout_light  tm_pb_sidebar_2">
            <aside id="tm_willard_products-1" class="widget woocommerce tm_willard_widget_products">
              <ul class="product_list_widget">
                <% label.products.sort_by(&:label_order).slice(0, 3).to_a.each do |product| %>
                  <li>
                    <%= link_to product_path(product), title: product.name do %>
                      <%= image_tag product.product_images.first.url_url, class: "attachment-shop_thumbnail size-shop_thumbnail wp-post-image",
                        alt: product.product_images.first.alt, width: 210, height: 210 %>
                    <% end %>
                    <div class="product-widget-categories">
                      <% product.categories.each do |category| %>
                        <%= link_to "#{category.name} ", products_path(category_id: category.id), rel: "tag" %>
                      <% end %>
                    </div>
                    <span class="product-title"><%= product.name %></span>
                    <span class="woocs_price_code" data-product-id="<%= product.id %>">
                      <del>
                        <span class="woocommerce-Price-amount amount"><%= product.price %>
                          <span class="woocommerce-Price-currencySymbol"></span>
                        </span> 
                      </del> 
                      <ins>
                        <span class="woocommerce-Price-amount amount"><%= product.discount_price %>
                          <span class="woocommerce-Price-currencySymbol"></span>
                        </span>
                      </ins>
                    </span>
                    <div class="add_to_cart_button-wrap">
                      <a rel="nofollow" href="https://ld-wp.template-help.com/woocommerce_58679/product/black-decker-ss12c-12-volt-cordless-drill-driver/" data-quantity="1" data-product_id="274" data-product_sku="" class="button product_type_variable add_to_cart_button">Mua</a> 
                    </div>
                  </li>
                <% end %>
              </ul>
            </aside>
          </div>
          <!-- .tm_pb_widget_area -->
        </div>
        <!-- .tm_pb_column -->
        <div class="tm_pb_column tm_pb_column_1_3 tm_pb_column_3 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm_pb_vertical_alligment_start product-tab-column">
          <div class="tm_pb_widget_area cherry-sidebars-1 tm_pb_widget_area_left clearfix tm_pb_module tm_pb_bg_layout_light  tm_pb_sidebar_3">
            <aside id="tm_willard_products-2" class="widget woocommerce tm_willard_widget_products">
              <ul class="product_list_widget">
                <% label.products.sort_by(&:label_order).slice(3, 3).to_a.each do |product| %>
                  <li>
                    <%= link_to product_path(product), title: product.name do %>
                      <%= image_tag product.product_images.first.url_url, class: "attachment-shop_thumbnail size-shop_thumbnail wp-post-image",
                        alt: product.product_images.first.alt, width: 210, height: 210 %>
                    <% end %>
                    <div class="product-widget-categories">
                      <% product.categories.each do |category| %>
                        <%= link_to "#{category.name} ", products_path(category_id: category.id), rel: "tag" %>
                      <% end %>
                    </div>
                    <span class="product-title"><%= product.name %></span>
                    <span class="woocs_price_code" data-product-id="<%= product.id %>">
                      <del>
                        <span class="woocommerce-Price-amount amount"><%= product.price %>
                          <span class="woocommerce-Price-currencySymbol"></span>
                        </span> 
                      </del> 
                      <ins>
                        <span class="woocommerce-Price-amount amount"><%= product.discount_price %>
                          <span class="woocommerce-Price-currencySymbol"></span>
                        </span>
                      </ins>
                    </span>
                    <div class="add_to_cart_button-wrap">
                      <a rel="nofollow" href="https://ld-wp.template-help.com/woocommerce_58679/product/black-decker-ss12c-12-volt-cordless-drill-driver/" data-quantity="1" data-product_id="274" data-product_sku="" class="button product_type_variable add_to_cart_button">Mua</a> 
                    </div>
                  </li>
                <% end %>
              </ul>
            </aside>
          </div>
          <!-- .tm_pb_widget_area -->
        </div>
        <!-- .tm_pb_column -->
        <div class="tm_pb_column tm_pb_column_1_3 tm_pb_column_4 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm_pb_vertical_alligment_start product-tab-column">
          <div class="tm_pb_widget_area cherry-sidebars-2 tm_pb_widget_area_left clearfix tm_pb_module tm_pb_bg_layout_light  tm_pb_sidebar_4">
            <aside id="tm_willard_products-3" class="widget woocommerce tm_willard_widget_products">
              <ul class="product_list_widget">
                <% label.products.sort_by(&:label_order).slice(6, 3).to_a.each do |product| %>
                  <li>
                    <%= link_to product_path(product), title: product.name do %>
                      <%= image_tag product.product_images.first.url_url, class: "attachment-shop_thumbnail size-shop_thumbnail wp-post-image",
                        alt: product.product_images.first.alt, width: 210, height: 210 %>
                    <% end %>
                    <div class="product-widget-categories">
                      <% product.categories.each do |category| %>
                        <%= link_to "#{category.name} ", products_path(category_id: category.id), rel: "tag" %>
                      <% end %>
                    </div>
                    <span class="product-title"><%= product.name %></span>

                    <span class="woocs_price_code" data-product-id="<%= product.id %>">
                      <del>
                        <span class="woocommerce-Price-amount amount"><%= product.price %>
                          <span class="woocommerce-Price-currencySymbol"></span>
                        </span> 
                      </del> 
                      <ins>
                        <span class="woocommerce-Price-amount amount"><%= product.discount_price %>
                          <span class="woocommerce-Price-currencySymbol"></span>
                        </span>
                      </ins>
                    </span>
                    <div class="add_to_cart_button-wrap">
                      <a rel="nofollow" href="https://ld-wp.template-help.com/woocommerce_58679/product/black-decker-ss12c-12-volt-cordless-drill-driver/" data-quantity="1" data-product_id="274" data-product_sku="" class="button product_type_variable add_to_cart_button">Mua</a> 
                    </div>
                  </li>
                <% end %>
              </ul>
            </aside>
          </div>
          <!-- .tm_pb_widget_area -->
        </div>
        <!-- .tm_pb_column -->
      </div>
    <% end %>
  </div>
  <!-- .tm_pb_row -->
</div>
