<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Tài liệu</h1>
    </div>
  </div>

  <div class="row" id="doc-table">
    <div class="col-lg-6">
      <%= form_for([:admin, @doc], url: admin_medias_path, html: {multipart: true}) do |f| %>
        <div class="form-group">
          <%= f.text_field :title, class: "form-control doc-name-create", placeholder: "Tên doc", required: true, oninvalid: "Please Enter valid email" %>
        </div>

        <div class="form-group">
          <%= f.text_area :description, class: "form-control doc-des-create", rows: "4", placeholder: "Mô tả", required: true %>
        </div>
        <div class="form-group">
          <%= f.select :field_id, options_for_select(Field.all.map{|field| [field.name, field.id]}), {},
            {class: "doc-field-create form-control"} %>
        </div>
        <div class="form-group">
          <%= f.file_field :url, class: "doc-link-create", placeholder: "Youtube Link", required: true, onchange: "validateFiles(this);",
            data: {max_file_size: 5.megabytes} %>
        </div>
        <%= f.hidden_field :media_type, value: "0" %>
        <div class="text-center">
          <%= link_to "Bỏ qua", admin_medias_path(media_type: "0"), class: "btn btn-default btn-lg" %>
          <%= f.submit "Tạo", class: "btn btn-success btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
