<div class="modal fade" id="product-category" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" id="auto-comfirm-category-product" data-dismiss="modal" aria-label="close">&times;</a>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title custom_align" id="Heading">Chọn danh mục</h4>
      </div>
      <div class="modal-body">
        <div class="row show-grid">
          <div id="category-fields-for">
            <%= f.fields_for(:product_categories) do |ff| %>
              <%= ff.number_field :category_id, class: "form-control hidden" %>
              <%= ff.number_field :list_order, class: "form-control hidden" %>
            <% end %>
          </div>
          <%= render "category_field", f: f %>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" id="confirm-category-product" data-size="<%= @g_categories.count %>" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
