<% @g_categories.each_with_index do |g_category, index| %>
  <div class="row show-grid category-block col-xs-2">
    <div class="form-group">
      <p class="g-category"><%= g_category.name %></p>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-xs btn-danger remove-selected-category" data-id="<%= index %>">Bỏ chọn</button>
    </div>
    <div class="form-group">
      <% list_order = @category_attrs && @category_attrs[index] ? @category_attrs[index][:list_order] : "" %>
      <% category_id = @category_attrs && @category_attrs[index] ? @category_attrs[index][:category_id] : 0 %>
      <input type="number" class="form-control category-order" id="category-order<%= index %>" placeholder="Thứ tự"
        value="<%= list_order %>">
    </div>
    <div class="funkyradio">
      <% g_category.childrens.each do |p_category| %>
        <div class="funkyradio-success">
          <input type="radio" name="category<%= index %>" id="parent-category<%= p_category.id %>" value="<%= p_category.id %>"
            data-name="<%= p_category.name %>" <%= 'checked' if p_category.id == category_id %> />
          <label for="parent-category<%= p_category.id %>" title="<%= p_category.name %>" class="category-label"><%= p_category.name %></label>
        </div>
        <div class="form-group category-group">
          <% p_category.childrens.each do |category| %>
            <div class="funkyradio-primary">
              <input type="radio" name="category<%= index %>" id="category<%= category.id %>" value="<%= category.id %>"
                data-name="<%= category.name %>" <%= 'checked' if category.id == category_id %> />
              <label for="category<%= category.id %>" title="<%= category.name %>" class="category-label"><%= category.name %></label>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
