<div class="row show-grid">
  <div class="form-group form-group-part col-xs-6">
    <strong>Tên sản phẩm</strong> </br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group form-group-part col-xs-6">
    <div class="col-xs-6 price-form">
      <strong>Giá (.000 ₫)</strong> </br>
      <%= f.number_field :price, class: "form-control" %>
    </div>
    <div class="col-xs-6 price-form">
      <strong>Giá sale (.000 ₫)</strong> </br>
      <%= f.number_field :discount_price, class: "form-control" %>
    </div>
  </div>
</div>

<div class="row show-grid">
  <div class="form-group form-group-part col-xs-6">
    <div class="col-xs-6 parameter-form">
      <strong>Định dạng thông số</strong> </br>
      <%= f.select :is_parameter_table, [['Dạng text', false], ['Dạng bảng', true]], {}, { class: "form-control"} %>
    </div>
    <div class="col-xs-2">
      <strong>Thông số</strong> </br>
      <%= link_to "Nhập", "#product-parameter", :class => "btn btn-success", "data-toggle" => "modal" %>
    </div>
    <div class="col-xs-4">
      <p class="product-parameter-span multi-line"></p>
    </div>
  </div>
  <div class="form-group form-group-part col-xs-6">
    <div class="col-xs-6 price-form">
      <strong>Mã sản phẩm</strong> </br>
      <%= f.text_field :model, class: "form-control" %>
    </div>
    <div class="col-xs-6 price-form">
      <strong>Hãng</strong> </br>
      <%= f.select :brand_id, options_for_select(Brand.all.map{|c| [c.name, c.id]}), {include_blank: "Chọn hãng"}, { :class => 'form-control' } %>
    </div>
  </div>
</div>


<div class="row show-grid">
  <div class="form-group form-group-part col-xs-6">
    <strong>Mô tả ngắn</strong> </br>
    <%= f.text_area :short_description, class: "form-control", rows: 5 %>
  </div>
  <div class="form-group form-group-part col-xs-6">
    <strong>Mô tả</strong> </br>
    <%= f.text_area :description, class: "form-control", rows: 5 %>
  </div>
</div>

<div class="modal fade" id="product-parameter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title custom_align" id="Heading">Thông số sản phẩm</h4>
      </div>
      <div class="modal-body">
        <%= f.text_area :parameter, class: "form-control hidden", placeholder: "Nhập thông số" %>
        <div id="product-parameter-table-div">
          <table class="table table-bordered" id="product-parameter-table">
            <thead>
              <tr>
                <th>Thuộc tính</th>
                <th>Giá trị</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" class="form-control"/></td>
                <td><input type="text" class="form-control"/></td>
                <td><button type="button" class="btn btn-danger delete-param-product">Xóa</button></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"/></td>
                <td><input type="text" class="form-control"/></td>
                <td><button type="button" class="btn btn-danger delete-param-product">Xóa</button></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"/></td>
                <td><input type="text" class="form-control"/></td>
                <td><button type="button" class="btn btn-danger delete-param-product">Xóa</button></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"/></td>
                <td><input type="text" class="form-control"/></td>
                <td><button type="button" class="btn btn-danger delete-param-product">Xóa</button></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"/></td>
                <td><input type="text" class="form-control"/></td>
                <td><button type="button" class="btn btn-danger delete-param-product">Xóa</button></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control"/></td>
                <td><input type="text" class="form-control"/></td>
                <td><button type="button" class="btn btn-danger delete-param-product">Xóa</button></td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-success" id="add-param-product">Thêm thuộc tính</button>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success" data-dismiss="modal" id="confirm-param-product">OK</button>
      </div>
    </div>
  </div>
</div>
