<div class="row show-grid show-grid-image">
  <%= f.fields_for(:product_images) do |ff| %>
    <div class="form-group form-group-part col-xs-6">
      <div class="block-image">
        <strong>Ảnh <%= ff.options[:child_index] + 1 %></strong> </br>
        <div class="preview-product-image-div">
          <img src="/preview_no_image.jpg" height="150" class="preview-product-image-<%= ff.options[:child_index] + 1 %>">
        </div>
        <label for="upload-product-image-<%= ff.options[:child_index] + 1 %>" class="btn btn-success">Chọn ảnh <%= ff.options[:child_index] + 1 %></label>
        <%= ff.file_field :url, id: "upload-product-image-#{ff.options[:child_index] + 1}", class: "hidden" %>
        <% if ff.object.url.present? %>
          <%= image_tag ff.object.url, class: "hidden", id: "product-image#{ff.options[:child_index] + 1}" %>
        <% end %>
      </div>

      <div class="form-group form-group-sub-part col-xs-12">
        <strong>Tiêu đề ảnh <%= ff.options[:child_index] + 1 %></strong> </br>
        <%= ff.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group form-group-sub-part col-xs-12">
        <strong>Mô tả ảnh <%= ff.options[:child_index] + 1 %></strong> </br>
        <%= ff.text_field :desc, class: "form-control" %>
      </div>
      <div class="form-group form-group-sub-part col-xs-12">
        <strong>Caption ảnh <%= ff.options[:child_index] + 1 %></strong> </br>
        <%= ff.text_field :caption, class: "form-control" %>
      </div>
      <div class="form-group form-group-sub-part col-xs-12">
        <strong>Alt ảnh <%= ff.options[:child_index] + 1 %></strong> </br>
        <%= ff.text_field :alt, class: "form-control" %>
      </div>
    </div>
  <% end %>
</div>
