<div class="woocommerce-tabs wc-tabs-wrapper" id="sizzle1508490365017">
  <ul class="tabs wc-tabs" role="tablist">
    <li class="description_tab active" id="tab-title-description" role="tab" aria-controls="tab-description">
      <a href="#tab-description" aria-controls="home" role="tab" data-toggle="tab">Mô tả</a>
    </li>
    <li class="description_tab" id="tab-title-parameter" role="tab" aria-controls="tab-parameter">
      <a href="#tab-parameter" aria-controls="home" role="tab" data-toggle="tab">Thông số</a>
    </li>
    <li class="description_tab" id="tab-title-document" role="tab" aria-controls="tab-document">
      <a href="#tab-document" aria-controls="home" role="tab" data-toggle="tab">Tài liệu</a>
    </li>
    <li class="description_tab" id="tab-title-video" role="tab" aria-controls="tab-video">
      <a href="#tab-video" aria-controls="home" role="tab" data-toggle="tab">Video</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab tab-pane active" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">
      <h2></h2>
      <p><%= @product.description %></p>
    </div>

    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--additional_information panel entry-content wc-tab tab-pane" id="tab-parameter" role="tabpanel" aria-labelledby="tab-title-parameter">
      <% if @product.is_parameter_table %>
        <table class="shop_attributes">
          <tbody>
            <% @product.param_table.each do |param| %>
              <tr>
                <th class="tab-parameter-th"><%= param[:title] %></th>
                <td>
                  <p class="p-parameter"><%= param[:value] %></p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p><%= @product.parameter %></p>
      <% end %>
    </div>

    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab tab-pane" id="tab-document" role="tabpanel" aria-labelledby="tab-title-document">
      <div id="media-table">
        <table class="table table-bordered">
          <tbody>
            <% @documents.each do |doc| %>
              <tr>
                <td class="image-doc-type">
                  <% if doc.url.split(//).last(3).join("") == "pdf" %>
                    <%= image_tag "/pdf.png", title: "pdf", class: "doccument-type" %>
                  <% elsif doc.url.split(//).last(3).join("") == "doc" || doc.url.split(//).last(3).join("") == "ocx" %>
                    <%= image_tag "/word.png", title: "doc", class: "doccument-type" %>
                  <% elsif doc.url.split(//).last(3).join("") == "xls" || doc.url.split(//).last(3).join("") == "lsx" %>
                    <%= image_tag "/excell.png", title: "excel", class: "doccument-type" %>
                  <% end %>
                </td>
                <td>
                  <strong><%= doc.title %></strong><br/>
                  <%= doc.description %><br/>
                  <a href="<%= doc.url %>">
                    <% if doc.url.split(//).last(3).join("") == "pdf" %>
                      <%= image_tag "/small-pdf.png", title: "pdf" %>
                    <% elsif doc.url.split(//).last(3).join("") == "doc" || doc.url.split(//).last(3).join("") == "ocx" %>
                      <%= image_tag "/small-word.png", title: "doc" %>
                    <% elsif doc.url.split(//).last(3).join("") == "xls" || doc.url.split(//).last(3).join("") == "lsx" %>
                      <%= image_tag "/small-excell.png", title: "excel" %>
                    <% end %>
                    <%= doc.title %>
                  </a><br/>
                  <p>Ngày tạo : <%=doc.created_at %></p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab tab-pane" id="tab-video" role="tabpanel" aria-labelledby="tab-title-video">
      <div class="media-table">
        <table class="table table-bordered">
          <tbody>
            <% @videos.each do |video| %>
              <tr>
                <td class="video-td">
                  <iframe width="374" height="284" src="<%= video.url %>" frameborder="0" allowfullscreen></iframe>
                </td>
                <td>
                  <div class="content-video">
                    <strong><%= video.title %></strong><br/>
                    <%= video.description %><br/>
                    <p>Ngày tạo : <%= video.created_at %></p>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
