<div data-sidebar="shop-sidebar">
  <aside id="tm_willard_products-4" class="widget woocommerce tm_willard_widget_products">
    <h2 class="widget-title title-font-em">Sản phẩm mới</h2>
    <ul class="product_list_widget">
      <% @new_products.each do |product| %>
        <li>
          <%= link_to product_path(product), title: product.name do %>
            <%= image_tag product.product_images.first.url, size: '210' if product.product_images.first.url%>
          <% end %>
          <!-- <div class="product-widget-categories">
            <a href="" rel="tag">Cutters</a>,
            <a href="" rel="tag">Drills</a>,
            <a href="" rel="tag">Gardenign Tools</a>
          </div> -->
          <div class="product-widget-categories">
            <% product.categories.each do |category| %>
              <%= link_to "#{category.name} ", products_path(category_id: category.id), rel: "tag" %>
            <% end %>
          </div>
          <span class="product-title">
            <%= link_to product.name, product_path(product), title: product.name, class: "product-title-custom" %>
          </span>
          <span class="woocs_price_code" data-product-id="274">
            <% if product.discount_price_currency.present? %>
              <del>
                <span class="woocommerce-Price-amount amount"><%= product.price_currency %>
                  <span class="woocommerce-Price-currencySymbol">₫</span>
                </span>
              </del>
              <ins>
                <span class="woocommerce-Price-amount amount"><%= product.discount_price_currency %>
                  <span class="woocommerce-Price-currencySymbol">₫</span>
                </span>
              </ins>
            <% else %>
              <span class="woocommerce-Price-amount amount"><%= product.price_currency %>
                <span class="woocommerce-Price-currencySymbol">₫</span>
              </span>
            <% end %>
          </span>
          <div class="add_to_cart_button-wrap">
            <%= link_to "MUA", order_product_path(product), remote: true, rel: "nofollow",
              "data-product-id": product.id, class: "button product_type_variable add_to_cart_button" %>
          </div>
        </li>
      <% end %>
    </ul>
  </aside>
</div>
