<div class="related products">
  <h5>Sản phẩm liên quan</h5>
  <div class="swiper-carousel-container">
    <div id="swiper-carousel-59e9bc5f37e5e" class="tm-willard-carousel swiper-container swiper-container-horizontal" style="cursor: -webkit-grab;">
      <div class="swiper-wrapper">
        <% @related_products.each do |product| %>
          <div class="post-264 product type-product status-publish has-post-thumbnail hentry product_shipping_class-class-2 has-thumb swiper-slide swiper-slide-next" style="width: 292.5px; margin-right: 50px;">
            <div class="block_product_inner">
              <div class="block_product_thumbnail">
                <a href="" class="woocommerce-LoopProduct-link">
                  <div class="tm-thumbs-wrap effect-fade">
                    <div class="tm-thumbs-wrap__inner">
                      <%= link_to product_path(product), title: product.name do %>
                        <%= image_tag product.product_images.first.url, size: '340' if product.product_images.first.url%>
                        <%= image_tag product.product_images.second.url, size: '340' if product.product_images.second.url%>
                      <% end %>
                    </div>
                  </div>
                </a>
                <div class="wishlist_compare_button_block">
                  <div class="tm-quick-view">
                    <a href="" class="tm-quick-view-btn" data-action="quick-view-button" data-product="264">Quick View</a>
                  </div>
                </div>
              </div>
              <div class="block_product_content">
                <ul class="product-categories">
                  <li>
                    <% product.categories.each do |category| %>
                      <%= link_to "#{category.name} ", products_path(category_id: category.id), rel: "tag" %>
                    <% end %>
                  </li>
                </ul>
                <h3><a href=""><%= link_to product.name, product_path(product) %></a></h3>
                <div class="price-add-to-cart-wrap">
                  <span class="price">
                    <span class="woocs_price_code" data-product-id="264">
                      <% if product.discount_price_currency.present? %>
                        <del>
                          <span class="woocommerce-Price-amount amount"><%= product.price_currency %>
                            <span class="woocommerce-Price-currencySymbol">₫</span>
                          </span>
                        </del>
                        <ins>
                          <span class="woocommerce-Price-amount amount"><%= product.discount_price_currency %>
                            <span class="woocommerce-Price-currencySymbol">₫</span>
                          </span>
                        </ins>
                      <% else %>
                        <span class="woocommerce-Price-amount amount"><%= product.price_currency %>
                          <span class="woocommerce-Price-currencySymbol">₫</span>
                        </span>
                      <% end %>
                    </span>
                  </span>
                  <%= link_to "MUA", order_product_path(product), remote: true, rel: "nofollow",
                    "data-product-id": product.id, class: "button product_type_simple add_to_cart_button ajax_add_to_cart" %>
                </div>

                <!-- <span class="price">
                  <span class="woocs_price_code" data-product-id="215">
                    <span class="woocommerce-Price-amount amount">154.00
                      <span class="woocommerce-Price-currencySymbol">$</span>
                    </span>
                     –
                    <span class="woocommerce-Price-amount amount">198.00
                      <span class="woocommerce-Price-currencySymbol">$</span>
                    </span>
                  </span>
                </span> -->
              </div>
            </div>
          </div>
        <% end %>


      </div>
    </div>
    <div id="swiper-carousel-59e9bc5f37e5e-next" class="swiper-button-next button-next swiper-button-disabled" style="display: block;"></div>
    <div id="swiper-carousel-59e9bc5f37e5e-prev" class="swiper-button-prev button-prev swiper-button-disabled" style="display: block;"></div>
  </div>
</div>
