<% if @products_from_menu.blank? %>
  <p class="woocommerce-result-count">
    Sản phẩm đang được cập nhật
  </p>
<% else %>
  <p class="woocommerce-result-count">
    Hiển thị <%= @from %> <%= "- #{@to}" if @to > @from %> trong <%= @products_from_menu.total_count %> sản phẩm
  </p>
  <span id="sort-field">
    <form class="woocommerce-ordering">
      <select class="orderby woocommerce-orderby">
        <option value="default">Sắp xếp theo</option>
        <option value="name" <%= 'selected' if params[:sort_by] == 'name' %>>Tên</option>
        <option value="date" <%= 'selected' if params[:sort_by] == 'date' %>>Mới đến cũ</option>
        <option value="price" <%= 'selected' if params[:sort_by] == 'price' %>>Giá thấp đến cao</option>
        <option value="price_desc" <%= 'selected' if params[:sort_by] == 'price_desc' %>>Giá cao đến thấp</option>
      </select>
    </form>
  </span>
  <span id="price-field">
    <input type="text" id="min_price" name="min_price" value="1" data-min="1" placeholder="Giá từ">
    <input type="text" id="max_price" name="max_price" value="100" data-max="500" placeholder="Giá đến"> triệu VNĐ
    <div class="clear"></div>
  </span>
<% end %>

