<%= render "layouts/breadcrumbs" %>
<div class="site-content_wrap container">
  <div id="product-order-placeholder"></div>
  <div id="order-result-placeholder"></div>
  <div class="row">
    <div id="primary" class="col-xs-12 col-lg-9 col-lg-push-3">
      <main id="main" class="site-main" role="main">
        <div id="woo-primary" class="content-area willard">
          <div id="woo-main" class="site-main" role="main">
            <h1 class="page-title"><%= @title %></h1>
            <% if brand = Brand.find_by(id: params[:brand_id]) %>
              <h2>Hãng: <%= brand.name %></h2>
            <% end %>
            <% if category = Category.find_by(id: params[:category_id]) %>
              <h2><%= category.description %></h2>
            <% end %>
            <div class="tm-wc-ajax-products-wrapper">
              <% unless @childs.present? %>
                <%= render "sort_form"%>
              <% end %>

              <div class="products row <%= 'product-row-block' if @childs.present? %>">
                <% if @childs.present? %>
                  <% @childs.each do |child| %>
                    <%= render "product_block", block: child%>
                  <% end %>
                <% else %>
                  <% @products_from_menu.each do |product| %>
                    <%= render "product_field", product: product %>
                  <% end %>
                <% end %>
              </div>

              <% unless @products_from_menu.blank? || @childs %>
                <nav class="woocommerce-pagination">
                  <%= paginate @products_from_menu %>
                </nav>
              <% end %>
              <div class="tm-wc-ajax-filters-loader">
                <div class="page-preloader"></div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- #main -->
    </div>
    <!-- #primary -->
    <%= render "left_menu"%>
  </div>
  <!-- .row -->
</div>
