<footer id="colophon" class="site-footer default before-full-width-area" role="contentinfo">
  <div class="footer-area-wrap second-footer-area-wrap invert">
    <div class="container">
      <section id="second-footer-area" class="second-footer-area widget-area footer-area--4-cols row">
        <aside id="text-4" class="col-xs-12 col-sm-12 col-md-6 col-lg-3  widget footer-aside-index">
          <h5 class="widget-title">Giới thiệu</h5>
          <div class="textwidget"><%= @company.about %></div>
        </aside>

        <!-- Column tag -->
        <aside id="woocommerce_product_tag_cloud-4" class="col-xs-12 col-sm-12 col-md-6 col-lg-3  widget woocommerce widget_product_tag_cloud footer-aside-index">
          <h5 class="widget-title">Tags</h5>
          <div class="tagcloud">
            <% Tag.all.each_with_index do |t, index| %>
              <a href="<%= t.tag_url %>" class="tag-link-position-<%= index + 2 %>" title="" style="font-size: 19.666666666667pt;">
                <%= t.name %>
              </a>
            <% end %>
          </div>
        </aside>

        <!-- Contact info -->
        <aside id="tm_willard_contact_information_widget-1" class="col-xs-12 col-sm-12 col-md-6 col-lg-3  widget contact-information-widget footer-aside-index">
          <h5 class="widget-title">Liên hệ</h5>
          <ul class="contact-information-widget__inner">
            <li class="contact-information__item contact-information__item--icon">
              <span class="icon linearicon linearicon-telephone"></span>
              <%= @company.phone %> - <%= @company.contact_info %>
            </li>
            <li class="contact-information__item contact-information__item--icon">
              <span class="icon linearicon linearicon-clock3"></span>
              <%= @company.work_time %>
            </li>
            <li class="contact-information__item contact-information__item--icon">
              <span class="icon linearicon linearicon-envelope-open"></span>
              <%= @company.email %>
            </li>
          </ul>
        </aside>

        <aside id="text-5" class="col-xs-12 col-sm-12 col-md-6 col-lg-3 widget footer-aside-index">
          <h5 class="widget-title">Chỉ đường</h5>
            <div id="map" style="height: 300px;"></div>
            <input type="hidden" id="map_lat" value="<%= @company.map_lat %>">
            <input type="hidden" id="map_lng" value="<%= @company.map_lng %>">
            <script>
              function initMap() {
                var lat = parseFloat($("#map_lat").val());
                var lng = parseFloat($("#map_lng").val());
                var uluru = {lat: lat, lng: lng};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbEWIklaDSw8BsgQhkabXXYnM3DcKFNyQ&callback=initMap">
            </script>
        </aside>
      </section>
    </div>
  </div>
  <div class="footer-container invert">
    <div class="site-info container">
      <div class="site-info-wrap">
        <div class="site-info-logo_copyright">
          <div class="footer-logo">
            <a href="" class="footer-logo_link"><img src="https://ld-wp.template-help.com/woocommerce_58679/wp-content/themes/tm-willard/assets/images/logo.png" alt="Willard" class="footer-logo_img"></a>
          </div>
          <div class="footer-copyright">Copyright © 2016 STECH INTERNATIONAL ., LTD <a class="privacy_link" href="">Privacy Policy</a></div>
        </div>
        <div class="social-list social-list--footer social-list--icon">
          <ul id="social-list-1" class="social-list__items inline-list">
            <li id="menu-item-44" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44"><a href="http://facebook.com/"><span class="screen-reader-text">Facebook</span></a></li>
            <li id="menu-item-45" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45"><a href="http://twitter.com/"><span class="screen-reader-text">Twitter</span></a></li>
            <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-46"><a href="http://linkedin.com/"><span class="screen-reader-text">Linkedin</span></a></li>
            <li id="menu-item-47" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47"><a href="http://instagram.com/"><span class="screen-reader-text">Instagram</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
