<header id="masthead" class="site-header default" role="banner">
  <!-- Mobile panel -->
  <div class="mobile-panel">
    <button class="menu-toggle mobile-toggle" aria-controls="main-menu" aria-expanded="false">
    <span class="menu-toggle-box">
    <span class="menu-toggle-inner"></span>
    </span>
    </button>
    <div class="mobile-panel__right">
      <div class="header-search">
        <span class="search-form__toggle"></span>

        <!-- Search form -->
        <%= form_tag search_product_path, method: "get", class: "search-form woocommerce-product-search" do %>
          <div class="search-form__input-wrap">
            <label class="screen-reader-text" for="woocommerce-product-search-field">Search for:</label>
            <i class="linearicon linearicon-magnifier"></i>
            <%= search_field_tag :query, params[:query],
              id: "woocommerce-product-search-field",
              class: "search-form__field", placeholder: "Tìm kiếm sản phẩm…",
              title: "Search for:" %>
          </div>
          <button type="submit" class="search-form__submit btn-secondary">Tìm kiếm</button>
          <input type="hidden" name="post_type" value="product">
        <% end %>
        <span class="search-form__close"></span>
      </div>

    </div>
  </div>
  <!-- End Mobile panel -->

  <!-- Web Panel -->
  <div class="top-panel ">
    <div class="top-panel__container container">
      <div class="top-panel__top">
        <div class="top-panel__left">
          <div class="contact-block contact-block--header">
            <div class="contact-block__inner">
              <div class="contact-block__item contact-block__item--icon">
                <i class="contact-block__icon linearicon linearicon-telephone"></i>
                <div class="contact-block__value-wrap">
                  <span class="contact-block__label"><%= Company.first.phone %></span><span class="contact-block__text">
                    <%= Company.first.work_time %>
                  </span>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="top-panel__right">
          <div class="social-list social-list--footer social-list--icon">
            <ul id="social-list-1" class="social-list__items inline-list">
              <li id="menu-item-44" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44"><a href="http://facebook.com/"><span class="screen-reader-text">Facebook</span></a></li>
              <li id="menu-item-45" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45"><a href="http://twitter.com/"><span class="screen-reader-text">Twitter</span></a></li>
              <li id="menu-item-46" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-46"><a href="http://linkedin.com/"><span class="screen-reader-text">Linkedin</span></a></li>
              <li id="menu-item-47" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-47"><a href="http://instagram.com/"><span class="screen-reader-text">Instagram</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header content -->
  <div class="header-container">
    <div class="header-container_wrap container">
      <div class="header-container__flex">
        <div class="site-branding">
          <div class="site-logo">
            <a class="site-logo__link" href="" rel="home">
            <img src="https://ld-wp.template-help.com/woocommerce_58679/wp-content/themes/tm-willard/assets/images/logo.png" alt="Vật tư thí nghiệm" class="site-link__img"></a>
          </div>
        </div>

        <!-- Search form -->
        <div class="header-search">
         <%= form_tag search_product_path, method: "get", class: "search-form woocommerce-product-search" do %>
            <div class="search-form__input-wrap">
              <label class="screen-reader-text" for="woocommerce-product-search-field">Search for:</label>
              <i class="linearicon linearicon-magnifier"></i>
              <%= search_field_tag :query, params[:query],
                id: "woocommerce-product-search-field",
                class: "search-form__field", placeholder: "Tìm kiếm sản phẩm…",
                title: "Search for:" %>
            </div>
            <button type="submit" class="search-form__submit btn-secondary">Tìm kiếm</button>
            <input type="hidden" name="post_type" value="product">
          <% end %>
        </div>
        <!-- End Search form -->
      </div>
    </div>

    <!-- Menu -->
    <%= render "layouts/top_menu" %>
    <!-- End Menu -->

  </div>
</header>
