<div class="header-main-menu">
  <div class="container">
    <nav id="site-navigation" class="main-navigation" role="navigation">
      <input class="tm-mega-menu-mobile-trigger-box custom-menu" id="trigger-main-menu" type="checkbox" checked="">
      <ul id="main-menu" class="tm-mega-menu menu tm-mega-menu mega-menu-direction-horizontal total-columns-12" data-effect="slide-top" data-direction="horizontal" data-parent-selector=".tm-mega-menu" data-mobile-trigger="767" data-duration="300" data-mobile-button="1">
        <!-- Sản phẩm A-Z -->
        <li id="menu-item-32" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-32 tm-mega-menu-top-item item-submenu-position-fullwidth tm-mega-menu-has-children" data-sub-position="fullwidth" data-sub-type="megamenu" data-width-fullscreen="100%" data-width-desktop="100%" data-width-tablet="100%">
          <a href="#">Sản phẩm A-Z<i class="fa fa-angle-down mega-menu-arrow top-level-arrow"></i><label for="tm-megamenu-toggle-32" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down top-level-arrow"></i></label></a>
          <input type="checkbox" name="tm-megamenu-toggle-32" id="tm-megamenu-toggle-32" class="mega-menu-mobile-toggle" value="1">
          <ul class="tm-mega-menu-sub sub-menu level-0 effect-slide-top mega-sub">
            <li class="menu-tab">
              <div class="menu-tab-container">
                <!-- Nav tabs -->
                <div class="menu-tab-header">
                  <ul class="nav nav-tabs" role="tablist">
                    <% @product_array.each_with_index do |products, index| %>
                      <li role="presentation" class="nav-tab-item <%= 'active' if index == 0 %>"><a href="#tab-<%= products.first.first.name[0] %>" aria-controls="home" role="tab" data-toggle="tab"><%= products.first.first.name[0] %></a></li>
                    <% end %>
                  </ul>
                </div>

                <!-- Tab panes -->
                <div class="tab-content">
                  <% @product_array.each_with_index do |products, index| %>
                    <ul role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="tab-<%= products.first.first.name[0] %>">
                      <% 3.times do |i|%>
                        <% if products[i].present? %>
                          <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1 sub-column-title menu-columns-4">
                            <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                              <% products[i].each do |product| %>
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                                  <%= link_to product.name, "", class: "product-item" %>
                                </li>
                              <% end %>
                            </ul>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <!-- Lĩnh vực -->
        <li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70 tm-mega-menu-top-item item-submenu-position-fullwidth tm-mega-menu-has-children" data-sub-position="fullwidth" data-sub-type="standard" data-width-fullscreen="100%" data-width-desktop="100%" data-width-tablet="100%">
          <a href="https://ld-wp.template-help.com/woocommerce_58679/blog/">Lĩnh vực<i class="fa fa-angle-down mega-menu-arrow top-level-arrow"></i><label for="tm-megamenu-toggle-70" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down top-level-arrow"></i></label></a>
          <input type="checkbox" name="tm-megamenu-toggle-70" id="tm-megamenu-toggle-70" class="mega-menu-mobile-toggle" value="1">
          <ul class="tm-mega-menu-sub sub-menu level-0 effect-slide-top simple-sub">
            <li id="menu-item-449" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-449 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Blog layouts<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-449" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
              <input type="checkbox" name="tm-megamenu-toggle-449" id="tm-megamenu-toggle-449" class="mega-menu-mobile-toggle" value="1">
              <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                <li id="menu-item-450" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-450 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/blog/?ld&amp;blog_layout_type=default">Classic</a>
                </li>
                <li id="menu-item-451" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-451 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=grid-3-cols">Grid (3 Columns)</a>
                </li>
                <li id="menu-item-452" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-452 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=grid-4-cols&amp;sidebar_position=fullwidth">Grid (4 Columns)</a>
                </li>
                <li id="menu-item-453" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-453 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=masonry-3-cols">Masonry (3 Columns)</a>
                </li>
                <li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-454 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=masonry-4-cols&amp;sidebar_position=fullwidth">Masonry (4 columns)</a>
                </li>
                <li id="menu-item-455" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-455 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;blog_layout_type=vertical-justify&amp;post_per_page=7&amp;sidebar_position=fullwidth">Vertical Justify</a>
                </li>
              </ul>
            </li>
            <li id="menu-item-456" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-456 tm-mega-menu-sub-item item-nested-sub item-nested-sub-1">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/?s=TIPS">Search result</a>
            </li>
            <li id="menu-item-457" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-457 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Post formats<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-457" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
              <input type="checkbox" name="tm-megamenu-toggle-457" id="tm-megamenu-toggle-457" class="mega-menu-mobile-toggle" value="1">
              <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                <li id="menu-item-458" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-458 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/audio-format/">Audio Format</a>
                </li>
                <li id="menu-item-459" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-459 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/video-format/">Video Format</a>
                </li>
                <li id="menu-item-460" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-460 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/quote-format/">Quote Format</a>
                </li>
                <li id="menu-item-461" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-461 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/link-format/">Link Format</a>
                </li>
                <li id="menu-item-462" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-462 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/image-format/">Image Format</a>
                </li>
                <li id="menu-item-463" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-463 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/gallery-format/">Gallery Format</a>
                </li>
                <li id="menu-item-464" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-464 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/aside-format/">Aside Format</a>
                </li>
              </ul>
            </li>
            <li id="menu-item-465" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-465 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Sidebar style<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-465" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
              <input type="checkbox" name="tm-megamenu-toggle-465" id="tm-megamenu-toggle-465" class="mega-menu-mobile-toggle" value="1">
              <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                <li id="menu-item-466" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-466 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;sidebar_position=one-left-sidebar">Sidebar left</a>
                </li>
                <li id="menu-item-467" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-467 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;sidebar_position=one-right-sidebar">Sidebar right</a>
                </li>
                <li id="menu-item-468" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-468 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/blog?ld&amp;sidebar_position=fullwidth&amp;blog_layout_type=grid-4-cols">No sidebar</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- Hãng sản xuất -->
        <li id="menu-item-389" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-389 tm-mega-menu-top-item item-submenu-position-fullwidth tm-mega-menu-has-children" data-sub-position="fullwidth" data-sub-type="standard" data-width-fullscreen="100%" data-width-desktop="100%" data-width-tablet="100%">
          <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Hãng sản xuất<i class="fa fa-angle-down mega-menu-arrow top-level-arrow"></i><label for="tm-megamenu-toggle-389" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down top-level-arrow"></i></label></a>
          <input type="checkbox" name="tm-megamenu-toggle-389" id="tm-megamenu-toggle-389" class="mega-menu-mobile-toggle" value="1">
          <ul class="tm-mega-menu-sub sub-menu level-0 effect-slide-top simple-sub">
            <li id="menu-item-391" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-391 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Shop pages<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-391" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
              <input type="checkbox" name="tm-megamenu-toggle-391" id="tm-megamenu-toggle-391" class="mega-menu-mobile-toggle" value="1">
              <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                <li id="menu-item-398" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-398 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/cart/">Cart</a>
                </li>
                <li id="menu-item-782" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-782 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/checkout/">Checkout</a>
                </li>
                <li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/categories-listing/">Categories listing</a>
                </li>
                <li id="menu-item-406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-406 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/shop/">Products listing</a>
                </li>
                <li id="menu-item-410" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-410 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/product/dewalt-dw618b3-horsepower-plunge-base-and-fixed-base/">Single product</a>
                </li>
                <li id="menu-item-409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-409 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/shopping-widgets/">Shopping widgets</a>
                </li>
                <li id="menu-item-781" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-781 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/?s=black&amp;post_type=product">Search result</a>
                </li>
              </ul>
            </li>
            <li id="menu-item-393" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-393 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Standard pages<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-393" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
              <input type="checkbox" name="tm-megamenu-toggle-393" id="tm-megamenu-toggle-393" class="mega-menu-mobile-toggle" value="1">
              <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                <li id="menu-item-498" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-498 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/about/">About</a>
                </li>
                <li id="menu-item-499" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-499 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/page_404">404</a>
                </li>
                <li id="menu-item-500" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-500 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/contacts/">Contacts</a>
                </li>
                <li id="menu-item-501" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-501 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/typography/">Typography</a>
                </li>
                <li id="menu-item-503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/faqs/">FAQS</a>
                </li>
                <li id="menu-item-504" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-504 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/maintenance/">Maintenance</a>
                </li>
                <li id="menu-item-505" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-505 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/our-team/">Our Team</a>
                </li>
                <li id="menu-item-513" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-513 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/team/sam-kromstain/">Team member</a>
                </li>
                <li id="menu-item-506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-506 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679/careers/">Careers</a>
                </li>
              </ul>
            </li>
            <li id="menu-item-394" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-394 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Header styles<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-394" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
              <input type="checkbox" name="tm-megamenu-toggle-394" id="tm-megamenu-toggle-394" class="mega-menu-mobile-toggle" value="1">
              <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                <li id="menu-item-542" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-542 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;header_layout_type=default&amp;header_search=0&amp;header_social_links=0">Header style 1</a>
                </li>
                <li id="menu-item-543" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-543 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;header_layout_type=style-2&amp;header_social_links=0">Header style 2</a>
                </li>
                <li id="menu-item-544" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-544 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;header_layout_type=style-3">Header style 3</a>
                </li>
                <li id="menu-item-548" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-548 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;header_layout_type=style-4">Header style 4</a>
                </li>
              </ul>
            </li>
            <li id="menu-item-395" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-395 tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1">
              <a href="https://ld-wp.template-help.com/woocommerce_58679/#">Footer styles<i class="fa fa-angle-right mega-menu-arrow sub-arrow"></i><label for="tm-megamenu-toggle-395" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down sub-arrow"></i></label></a>
              <input type="checkbox" name="tm-megamenu-toggle-395" id="tm-megamenu-toggle-395" class="mega-menu-mobile-toggle" value="1">
              <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                <li id="menu-item-545" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-545 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;footer_layout_type=default">Footer style 1</a>
                </li>
                <li id="menu-item-546" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-546 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;footer_layout_type=centered">Footer style 2</a>
                </li>
                <li id="menu-item-547" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-547 tm-mega-menu-sub-item item-nested-sub item-nested-sub-2">
                  <a href="https://ld-wp.template-help.com/woocommerce_58679?ld&amp;footer_layout_type=minimal">Footer style 3</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li id="menu-item-230" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-230 tm-mega-menu-top-item item-submenu-position-fullwidth">
          <%= link_to "Tài liệu", "#" %>
        </li>

        <li id="menu-item-231" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-231 tm-mega-menu-top-item item-submenu-position-fullwidth">
          <%= link_to "Video", "#" %>
        </li>

        <li id="menu-item-232" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-232 tm-mega-menu-top-item item-submenu-position-fullwidth">
          <%= link_to "Chỉ đường", "#" %>
        </li>
      </ul>
    </nav>
    <!-- #site-navigation -->
  </div>
</div>
