<div class="header-main-menu">
  <div class="container">
    <nav id="site-navigation" class="main-navigation" role="navigation">
      <input class="tm-mega-menu-mobile-trigger-box custom-menu" id="trigger-main-menu" type="checkbox" checked="">
      <ul id="main-menu" class="tm-mega-menu menu tm-mega-menu mega-menu-direction-horizontal total-columns-12" data-effect="slide-top" data-direction="horizontal" data-parent-selector=".tm-mega-menu" data-mobile-trigger="767" data-duration="300" data-mobile-button="1">
        <!-- Sản phẩm A-Z -->
        <li id="menu-item-32" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-32 tm-mega-menu-top-item item-submenu-position-fullwidth tm-mega-menu-has-children" data-sub-position="fullwidth" data-sub-type="megamenu" data-width-fullscreen="100%" data-width-desktop="100%" data-width-tablet="100%">
          <a href="#">Sản phẩm A-Z<i class="fa fa-angle-down mega-menu-arrow top-level-arrow"></i><label for="tm-megamenu-toggle-32" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down top-level-arrow"></i></label></a>
          <input type="checkbox" name="tm-megamenu-toggle-32" id="tm-megamenu-toggle-32" class="mega-menu-mobile-toggle" value="1">
          <ul class="tm-mega-menu-sub sub-menu level-0 effect-slide-top mega-sub">
            <li class="menu-tab">
              <div class="menu-tab-container">
                <!-- Nav tabs -->
                <div class="menu-tab-header">
                  <ul class="nav nav-tabs" role="tablist">
                    <% @category_array.each_with_index do |categories, index| %>
                      <li role="presentation" class="nav-tab-item <%= 'active' if index == 0 %>"><a href="#tab-<%= categories.first.first.name[0] %>" aria-controls="home" role="tab" data-toggle="tab"><%= categories.first.first.name[0] %></a></li>
                    <% end %>
                  </ul>
                </div>

                <!-- Tab panes -->
                <div class="tab-content">
                  <% @category_array.each_with_index do |categories, index| %>
                    <ul role="tabpanel" class="tab-pane <%= 'active' if index == 0 %>" id="tab-<%= categories.first.first.name[0] %>">
                      <% 3.times do |i|%>
                        <% if categories[i].present? %>
                          <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1 sub-column-title menu-columns-4">
                            <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                              <% categories[i].each do |category| %>
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat tm-mega-menu-sub-item item-nested-sub item-nested-sub-2 sub-column-item">
                                  <%= link_to category.name, products_path(category_id: category.id), class: "product-item" %>
                                </li>
                              <% end %>
                            </ul>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              </div>
            </li>
          </ul>
        </li>

        <!-- Lĩnh vực -->
        <li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70 tm-mega-menu-top-item item-submenu-position-fullwidth tm-mega-menu-has-children" data-sub-position="fullwidth" data-sub-type="standard" data-width-fullscreen="100%" data-width-desktop="100%" data-width-tablet="100%">
          <a href="https://ld-wp.template-help.com/woocommerce_58679/blog/">Lĩnh vực<i class="fa fa-angle-down mega-menu-arrow top-level-arrow"></i><label for="tm-megamenu-toggle-70" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down top-level-arrow"></i></label></a>
          <input type="checkbox" name="tm-megamenu-toggle-70" id="tm-megamenu-toggle-70" class="mega-menu-mobile-toggle" value="1">
          <ul class="tm-mega-menu-sub sub-menu level-0 effect-slide-top simple-sub">
            <% @fields.each do |field| %>
              <li class="menu-item menu-item-type-custom menu-item-object-custom tm-mega-menu-sub-item item-nested-sub item-nested-sub-1">
                <%= link_to field.name, products_path(field_id: field.id) %>
              </li>
            <% end %>
          </ul>
        </li>

        <!-- Hãng sản xuất -->
        <li id="menu-item-389" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-389 tm-mega-menu-top-item item-submenu-position-fullwidth tm-mega-menu-has-children" data-sub-position="fullwidth" data-sub-type="standard" data-width-fullscreen="100%" data-width-desktop="100%" data-width-tablet="100%">
          <a href="#">Hãng sản xuất<i class="fa fa-angle-down mega-menu-arrow top-level-arrow"></i><label for="tm-megamenu-toggle-389" class="mega-menu-mobile-arrow"><i class="fa fa-angle-down top-level-arrow"></i></label></a>
          <ul class="tm-mega-menu-sub sub-menu level-0 effect-slide-top mega-sub mega-sub-big">
            <% @brand_array.each do |brands| %>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat tm-mega-menu-sub-item tm-mega-menu-has-children item-nested-sub item-nested-sub-1 sub-column-title menu-columns-3">
                <ul class="tm-mega-menu-sub sub-menu level-1 effect-slide-top simple-sub">
                  <% brands.each do |brand| %>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom tm-mega-menu-sub-item item-nested-sub item-nested-sub-1">
                      <%= link_to brand.name, products_path(brand_id: brand.id) %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>

        <li id="menu-item-230" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-230 tm-mega-menu-top-item item-submenu-position-fullwidth">
          <%= link_to "Tài liệu", "#" %>
        </li>

        <li id="menu-item-231" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-231 tm-mega-menu-top-item item-submenu-position-fullwidth">
          <%= link_to "Video", "#" %>
        </li>

        <li id="menu-item-232" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-232 tm-mega-menu-top-item item-submenu-position-fullwidth">
          <%= link_to "Chỉ đường", "#" %>
        </li>
      </ul>
    </nav>
    <!-- #site-navigation -->
  </div>
</div>
